<div>
  <h1>Project Sample</h1>
  <p>{{todayDate | date : "short"}}</p>
  <p>{{todayDate | date : "long"}}</p>
  <p>{{todayDate | date}}</p>
  <p>{{userName | uppercase}}</p>
  <p>{{userName | lowercase}}</p>
  <p>{{salary | currency : "INR"}}</p>
  <p>{{todayDate | date | uppercase}}</p>
  <p>{{userName | slice : 0 :6}}</p>
  <ul>
    <li *ngFor="let product of products">
      {{product.pName | uppercase}}
    </li>
  </ul>
  <!-- <app-first></app-first> -->
  <!-- <app-second></app-second> -->
  <!-- <ul>
    <li *ngFor="let student of students">
      {{student.name}} && {{student.course}}
    </li>
  </ul>
 <div [ngSwitch]="num">
  <div *ngSwitchCase="1">One</div>
  <div *ngSwitchCase="2">Two</div>
  <div *ngSwitchCase="3">Three</div>
  <div *ngSwitchCase="4">Four</div>
  <div *ngSwitchCase="5">Five</div>
  <div *ngSwitchCase="6">Six</div>
  <div *ngSwitchDefault>This is Default</div>
 </div> 
 <app-second></app-second> -->
</div>